<template>
  <div class="box container">
    <h1>Hello <span>{{ $store.state.User }}</span></h1>
  </div>
</template>

<script setup>
import { onMounted } from "vue";
import router from "../router";
import store from "@/store/index.js"


onMounted(() => {
  if (!store.state.Token){
    console.log('Token not found in Store')
    router.push('/login') 
  }

})
</script>

<style scoped>
span{
  color: turquoise;
}
</style>
