<template>
  <form class="box container">
    <!-- RUT -->
  <div class="field">
    <label class="label">Rut</label>
    <div class="control">
      <input v-model="loginData.rut" class="input" type="text" placeholder="12345678-k">
    </div>
  </div>

    <!-- Password -->
  <div class="field">
    <label class="label">Contraseña</label>
    <div class="control">
      <input v-model="loginData.password" class="input" type="password" placeholder="********">
    </div>
  </div>

  <button @click.prevent="$store.dispatch('login', loginData)"  class="button is-primary">Ingresar</button>
  </form>
</template>

<script setup>
import { reactive } from 'vue'

const loginData = reactive({
  rut: '',
  password: ''
})
</script>

<style scoped>
form.container{
  margin-top: 6rem;
  max-width: 25rem;
}
</style>
