<template>
  <div id="nav">
    <router-link to="/">Home</router-link>
    <router-link to="/about">About</router-link>
  </div>
  <router-view/>
</template>

<style lang="scss">
  @import '../node_modules/bulma';
  #app{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #nav{
    margin-left: 10rem;
    margin-bottom: 2rem;
  }
  a{
    font-weight: bold;
    text-decoration: none;
    margin-right: 1em;
    color: #2c3e50;
  }
  a:hover,
  a.router-link-active {
    border-bottom: 2px solid #3498db;
  }


</style>
